<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/aore-icons/cndomore-icons.html">

<link rel="import" href="../elements/sensas-numeric-chart.html">

<script src="/vendor/packery.pkgd.js"></script>
<script src="/vendor/draggabilly.pkgd.js"></script>

<polymer-element name="packery-element" block attributes="items menu service">
  <template>
     <style>
        .item {
          width: 232px;
          height: 232px;
          float: left;
          background: #C09;
          border: 4px solid #333;
          border-color: hsla(0, 0%, 0%, 0.3);
        }

        .item.w2 { width: 472px; background: #9C0; }

        .item:hover {
          border-color: white;
          cursor: move;
        }

        #container {
          height: 100%;
          width: 100%;
        }
     </style>

      <div id="container">
         <template repeat="{{elem, elemId in items}}"> 
              <div class="item w2" horizontal layout>
                  <core-icon-button element="{{elemId}}" icon="clear" on-click="{{removeElement}}" self-center></core-icon-button>
                  <sensas-numeric-chart name="{{elem.name}}" min="{{elem.min}}" max="{{elem.max}}"></sensas-numeric-chart>
              </div>
         </template>
      </div>
  </template>

  <script>
    Polymer('packery-element', {
      domReady: function() {
        var shadowRoot = this.shadowRoot || this;
        var $container = $($(shadowRoot).children("#container")[0]);
        // init
        $container.packery({
          rowHeight: 240,
          columnWidth: 240
        });
        $container.find('.item').each(function(i, itemElem) {
          var draggie = new Draggabilly(itemElem);
          $container.packery('bindDraggabillyEvents', draggie);
        });
      },
      removeElement: function(event, detail, sender) { 
        
        var activeTabId= parseInt($(this.menu).children("paper-tab[active]")[0].attributes["tab-id"].value, 10);
        var elementId = parseInt(sender.attributes["element"].value, 10);
        this.service.removeElement(activeTabId, elementId);
      }
    });
  </script>
</polymer-element>
