<link rel="import" href="../bower_components/polymer/polymer.html">

<polymer-element name="sensas-storage" attributes="tabs">
  <template>
    <style>
    :host {
      display: none;
    }
    </style>
  </template>
  <script>
  Polymer('sensas-storage', {
    created: function() {
      this.storageIdentifier = "sensas-app";
      this.tabs = JSON.parse(localStorage.getItem(this.storageIdentifier)) || [];
      this.save();
    },
    save: function() {
      localStorage.setItem(this.storageIdentifier, JSON.stringify(this.tabs));
    },
    addTab: function(name) {
      console.log(name);
      this.tabs.push({name: name, content: []});
      this.save();
    },
    removeTab: function(tabId) {
      this.tabs.splice(tabId, 1);
      this.save();
    },
    addElement: function(tabId, signalInfo) {
      this.tabs[tabId].content.push(signalInfo);
      this.save();
    },
    removeElement: function(tabId, elemId) {
      this.tabs[tabId].content.splice(elemId, 1);
      this.save();
    }
  });
  </script>
</polymer-element>
