<link rel="import" href="../bower_components/polymer/polymer.html">

<link rel="import" href="../bower_components/core-pages/core-pages.html">
<link rel="import" href="../bower_components/core-icon-button/core-icon-button.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/core-icon/core-icon.html">
<link rel="import" href="../bower_components/core-icons/core-icons.html">
<link rel="import" href="../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/core-toolbar/core-toolbar.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog-transition.html">
<!--
-->

<link rel="import" href="../elements/sensas-storage.html">
<link rel="import" href="../elements/packery-element.html">

<polymer-element name="sensas-page">
  <template>
    <style>
        #view-output {
          width: 100%;
          height: 100%;
        }

        #packery-holder {
          width: 100%;
          height: 100%;
        }

        .tab-content {
          width: 100%;
          height: 100%;
        }

        paper-tabs, core-toolbar {
          background-color: #3e50b4;
          color: #fff;
          box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
        }

        core-toolbar paper-tabs {
          box-shadow: none;
        }

        paper-tabs[noink][nobar] paper-tab.core-selected {
          color: #ffff8d;
        }

        paper-tabs.transparent-teal {
          background-color: transparent;
          color: #00bcd4;
          box-shadow: none;
        }

        paper-tabs.transparent-teal::shadow #selectionBar {
          background-color: #00bcd4;
        }

        paper-tabs.transparent-teal paper-tab::shadow #ink {
          color: #00bcd4;
        }

        h3 {
          font-size: 16px;
          font-weight: 400;
        }

        paper-input {
          font-size: 12px;
        }

        .wrap {
          width: 800px;
          height: 320px;
          border: 1px solid gray;
          display: block;
        }
    </style>

    <sensas-storage id="service" tabs="{{tabs}}"></sensas-storage>

    <paper-dialog id="new-tab" heading="New tab" backdrop="true" transition="paper-dialog-transition-bottom">
      <paper-input id="new-tab-label" label="Tab name:"></paper-input>
      <paper-button on-click="{{addTab}}" label="Add" affirmative autofocus></paper-button>
    </paper-dialog>

    <paper-dialog id="insert-element" heading="Insert element" backdrop="true" transition="paper-dialog-transition-bottom">
      <div horizontal layout>
        <div vertical layout>
          <paper-input id="signal-to-watch" label="Signal name"></paper-input>
          <paper-input id="signal-min" label="Numeric min" type="number" error="Input is not a number!" layout="" vertical=""></paper-input>
          <paper-input id="signal-max" label="Numeric max" type="number" error="Input is not a number!" layout="" vertical=""></paper-input>
        </div>

        <core-icon-button icon="polymer" on-click="{{insertElement}}" horizontal layout center><span>Watch!</span></core-icon-button>
      </div>
    </paper-dialog>

    <paper-dialog id="remove-current-tab" heading="Remove current tab" backdrop="true" transition="paper-dialog-transition-bottom">
      <p>Are you sure that you want to remove current tab?</p>
      <paper-button label="No" dismissive></paper-button>
      <paper-button on-click="{{removeTab}}" label="Yes" affirmative></paper-button>
    </paper-dialog>
   
    <core-toolbar>
      <paper-menu-button icon="menu">
          <paper-item on-click="{{showDialog}}" open="#new-tab">New tab</paper-item>
          <paper-item on-click="{{showDialog}}" open="#remove-current-tab">Remove current tab</paper-item>
          <paper-item on-click="{{showDialog}}" open="#insert-element">Insert element</paper-item>
      </paper-menu-button>

      <div flex>Sensas Platform</div>
      <paper-icon-button icon="search"></paper-icon-button>
      <paper-icon-button icon="more-vert"></paper-icon-button>
    </core-toolbar> 

    <div class="bottom fit" horizontal layout>
      <paper-tabs id="tabMenu" selected="0" flex>
         <template repeat="{{tab, id in tabs}}"> 
            <paper-tab tab-id="{{id}}">
              <span flex> {{tab.name}} </span>
            </paper-tab>
         </template>
      </paper-tabs>
    </div>

    <div>
      <core-pages id="view-output" selected="{{$.tabMenu.selected}}">
         <template repeat="{{tab, id in tabs}}"> 
            <div class="tab-content">
              <packery-element id="packery-holder" menu="{{$.tabMenu}}" service="{{$.service}}" items="{{tab.content}}"></packery-element>
            </div>
         </template>
      </core-pages>
    </div>

  </template>

  <script>
    Polymer("sensas-page", {
        removeTab: function(event, detail, sender) {
          var activeTabId= this.shadowRoot.querySelector("paper-tab[active]").attributes["tab-id"].value;
          this.$.service.removeTab(activeTabId);
        },
        addTab: function(event, detail, sender) {
          var name = this.shadowRoot.querySelector("#new-tab-label").value;
          this.$.service.addTab(name);
        },
        insertElement: function() {
          var activeTabId= parseInt(this.shadowRoot.querySelector("paper-tab[active]").attributes["tab-id"].value, 10);
          var signalInfo = {
              name: this.$["signal-to-watch"].value,
              min: this.$["signal-min"].value,
              max: this.$["signal-max"].value
          };
          this.$.service.addElement(activeTabId, signalInfo);
          // hide dialog
          var dialog = this.shadowRoot.querySelector("#insert-element").toggle();
        },
        showDialog: function(event, detail, sender) {
          var target = sender.attributes["open"].value;
          var dialog = this.shadowRoot.querySelector(target);
          dialog.toggle();
        }
    });
  </script>

</polymer-element>
